<h1>Add a book</h1>

<%= form_for @book do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.label :author %><br>
    <%= f.collection_select :author_id, Author.order(:name), :id, :name, include_blank: true %><br>
  </p>

  <p>Add a new author</p>
  <div>
    <%= f.fields_for :author do |a| %>
      <%= a.label :name %>
      <%= a.text_field :name %>
    <% end %>
  </div>


  <%= f.submit %>
<% end %>